.caroucel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    input[type=number] { -moz-appearance:textfield; }

    h4{ font-size: 20px; opacity: 0.3; cursor: pointer; }
    h3{ font-size: 30px; opacity: 0.6; cursor: pointer; }
    h2{ font-size: 40px; opacity: 0.9; cursor: pointer; }
    input{
        &:focus{ outline: 0;}
        padding: 4px 0;
        font-size: 48px;
        font-weight: 600;
        width: 100%;
        background: transparent;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button
        {
            -webkit-appearance: none;
            opacity: 0;
        }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button
    {
        -webkit-appearance: none;
        opacity: 0;
    }

    .efimero{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 80px;
        p{
            position: absolute;
            font-size: 12px;
            font-weight: 200;
            right: -30%;
        }
    }
}