:root{
    --main-color : #2BE7E8;
    --bg-color : #1F233E;
    --dark-color : #4B4B4B;
    --gray-color : #C8C8C8;
    --coin-color : #FFB74D;
    --bg-coin-color : #EF9014;
    --fail: #FF6B6B;
    --corret: #3DCD65;
}